/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT COLORS */
:root {
    --font-sans: "Inter", sans-serif;

    --color-light: #e6effc;
    --color-dark: #1b1b1b;

    --color-primary: #4a6fa5;
    --color-secondary: #6e89b5;
}

/* BODY */
body {
    font-family: var(--font-sans);
    background: var(--color-light);
    color: var(--color-dark);
    line-height: 1.6;
    overflow-x: hidden;
}

/* ACCUEIL BACKGROUND */
body.accueil {
    background: linear-gradient(135deg, #0f5b82, #8fb8e1);
}

/* TITRE POLICE PERSONNALISÉE */
.title-rock {
    font-family: 'JuneInRock', serif;
    font-size: 2.7rem;
    letter-spacing: 1px;
    text-align: center;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.lo
