@font-face {
  font-family: "shanghai";
  src: url("shanghai.ttf") format("truetype");
}

.shanghai{
  font-family: "shanghai", cursive;
}
.fredoka{
  font-family: "Fredoka", Arial, sans-serif;
}
.Super Meatball{
  font-family: "Super Meatball",cursive;
}
.appbar {
  background: black;
  color: white;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.logo-big {
  width: 110px;
  margin-bottom: 15px;
}

.header-text .title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #ffd6ec;
}

.header-text .subtitle {
  font-size: 1.7rem;
  margin-top: 18px;
  letter-spacing: 2px;
  color: #ffd0ea;
}
